.werewolf {
  background-image: url(image_path('werewolf.png'));
  width:300px;
  height: 300px;
}

.girl {
  background-image: url(image_path('girl.png'));
  width:300px;
  height: 300px;
}

.cupid {
  background-image: url(image_path('cupid.jpg'));
  width:300px;
  height: 300px;
}

.citizen {
  background-image: url(image_path('citizen.png'));
  width:300px;
  height: 300px;
}
